/skeleton_swimmer_env/build/*
/skeleton_swimmer_env/skeleton_swimmer/pybind11/
/skeleton_swimmer_env/__pycache__/
/skeleton_swimmer_env/*.so
/skeleton_swimmer_env/skeleton_swimmer/build/
/skeleton_swimmer_env/skeleton_swimmer/pybind11/
/rl/logs/
/.venv3.8/
/.venv3.7/
/.python-version
/sim/analysis/notebook/__pycache__/
/sim/analysis/notebook/.ipynb-checkpoints/
/sim/analysis/notebook/
